<article>
  <header>
    <h3><%=monster.name%></h3>
    <p><%= monster.description %></p>
    <p>
      <%= monster.type.name %>
      <small>motivation:<%= monster.type.motivation %></small>
    </p>
  </header>

  <section>
    <h4>Powers</h4>
    <% if (monster.powers.length === 0) { %>
    <p>No known powers</p>
    <% } else {%>
    <!-- List all Powers -->
    <% monster.powers.forEach(power=>{ %>
    <details name="<%= power.name %>">
      <summary>
        <h5><%= power.name %></h5>
      </summary>
      <p><strong>Description:</strong><%= power.description %></p>
      <% if (monster.creator._id.equals(user._id)){ %>
      <button id="<%= power._id %>" class="edit-power-btn">edit</button>
      <form
        action="/monsters/<%= monster._id %>/powers/<%= power._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">delete</button>
      </form>
      <% } %>
      <!-- Edit Powers Modal  -->
      <%- include('../partials/_edit-power.ejs', { power }) %>
    </details>
    <% })}; %>
    <!-- Add power button -->
    <% if (monster.creator._id.equals(user._id)){ %>
    <button id="add-power-btn">Add Power</button>
    <% } %>
  </section>
  <%- include('../partials/_add-power.ejs') %>

  <section>
    <h4>Defense</h4>
    <p><strong>Weakness: </strong><%= monster.weaknesses.join(', ') %></p>
    <p><strong>Armor: </strong><%= monster.armor %></p>
    <p><strong>Harm Capacity: </strong><%= monster.harmCapacity %></p>
  </section>

  <section>
    <h4>Attacks:</h4>
    <% if (monster.attacks.length === 0) { %>
    <p>No known attacks</p>
    <% } else {%>
    <!-- List all attacks -->
    <% monster.attacks.forEach(attack=>{ %>
    <details name="<%= attack.name %>">
      <summary>
        <h5><%= attack.name %></h5>
      </summary>
      <p><strong>Harm:</strong> <%= attack.harm %></p>
      <p><strong>Description:</strong><%= attack.description %></p>
      <% if (monster.creator._id.equals(user._id)){ %>
      <button id="<%= attack._id %>" class="edit-attack-btn">edit</button>
      <form
        action="/monsters/<%= monster._id %>/attacks/<%= attack._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">delete</button>
      </form>
      <% } %>
      <!-- Edit attack Modal  -->
      <%- include('../partials/_edit-attack.ejs', { attack, rangeTags,
      otherTags}) %>
    </details>
    <% })}; %>
    <!-- Add attack button -->
    <% if (monster.creator._id.equals(user._id)){ %>
    <button id="add-attack-btn">Add Attack</button>
    <% } %>
  </section>
  <%- include('../partials/_add-attack.ejs') %>

  <footer>
    <% if (userHasFavorited) { %>
    <form
      action="/monsters/<%= monster._id %>/favorited-by/<%= user._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Untrack this monster</button>
    </form>
    <% } else { %>
    <form
      action="/monsters/<%= monster._id %>/favorited-by/<%= user._id %>"
      method="POST"
    >
      <button type="submit">Track this monster</button>
    </form>
    <% } %>
    <p>Tracked by <%= monster.favoritedByUsers.length %> other hunters.</p>

    <a href="/monsters/<%= monster._id %>/edit">Edit</a>
    <form action="/monsters/<%= monster._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Monster</button>
    </form>
  </footer>
</article>
