<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_html-head.ejs', {title: 'All Hunters'}) %>
  <body>
    <header><%- include('../partials/_nav-bar.ejs') %></header>
    <main class="container">
      <h1>Other Hunters</h1>
      <ul>
        <% otherUsers.forEach((user) => {%>
        <article>
          <a href="/users/<%= user._id %>"> <h3><%= user.username %></h3> </a>
        </article>
        <% }) %>
      </ul>
    </main>
    <%- include("../partials/_footer.ejs") %>
  </body>
</html>
