<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_html-head.ejs', {title: currentUser.username}) %>
  <body>
    <header><%- include('../partials/_nav-bar') %></header>
    <main>
      <h1><%= currentUser.username %>'s Crytidex</h1>
      <ul>
        <% createdMonsters.forEach(monster => { %>
        <a href="/monsters/<%= monster._id %>">
          <li><%= monster.name%></li>
        </a>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
