<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_html-head.ejs', {title: 'All monsters'}) %>
  <body>
    <header><%- include('../partials/_nav-bar.ejs') %></header>
    <main>
      <h1>All Known Monsters</h1>
      <% monsters.forEach((monster) =>{ %>
      <article>
        <a href="/monsters/<%= monster._id %>">
          <h3><%= monster.name %></h3>
        </a>
        <p><%= monster.type.name %></p>
        <a href="/users/<%= monster.creator._id %>">
          <p>Reported by: <%= monster.creator.username %></p>
        </a>
      </article>
      <% }) %>
    </main>
    <footer><%- include("../partials/_footer.ejs") %></footer>
  </body>
</html>
