<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_html-head.ejs', {title: 'All monsters'}) %>
  <body>
    <header><%- include('../partials/_nav-bar.ejs') %></header>
    <main>
      <h1>All Known Monsters</h1>
      <% monsters.forEach(monster =>{%>
      <article>
        <a href="/monsters/<%= monster._id %>">
          <h3><%= monster.name %></h3>
        </a>
        <p><%= monster.type %></p>
        <p>Discovered by: <%= monster.creator.username %></p>
      </article>
      <% }) %>
    </main>
  </body>
</html>
