<%- include('../partials/_html-head.ejs', {title: monster.name}) %> 
<%-include('../partials/_nav-bar.ejs') %>
<main>
  <article>
    <h1><%=monster.name%></h1>
    <p><%= monster.type %></p>
    <h4>Description</h4>
    <p>
      <%= monster.description %>
    </p>
    <p><strong>Weakness: </strong><%= monster.weakness %></p>
    <p><strong>Armor: </strong><%= monster.armor %></p>
    <p><strong>Attacks:</strong></p>
    <% if (monster.attacks.length === 0) { %>
      <p>No known attacks</p>
    <% } else {%>
      <ul>
      <% monster.attacks.forEach(attack=>{ %>
        <li style="text-decoration: none;">
          <details name="<%= attack.name %>">
            <summary><h5><%= attack.name %></h5></summary>
            <article>

              <p><strong>Harm:</strong> <%= attack.harm %></p>
              <p><strong>Description:</strong></p> 
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, id, deleniti ut culpa rerum molestias sed sapiente et ex quasi esse odio illo alias velit. Porro dolores nam impedit non?</p>
              <div role="group">
                <button id="edit-attack-btn">edit</button>
                <button>delete</button>
              </div>
            </article>
          </details>
        </li>  
      <% }) %>
    <% } %>
      </ul>

    <% if (monster.creator._id.equals(user._id)){ %>
      <button id="add-attack-btn">Add Attack</button>
      <a role="button" href="/monsters/<%= monster._id %>/edit">Edit</a>
      <form action="" method="post">
        <button role="button" type="submit">Delete</button>
      </form>
    <% } else { %>
      <button>Copy</button>
      <button>Track this monster</button>
    <% } %>

  </article>

  <dialog id="add-attack-form">
    <form action="/monsters/<%= monster._id %>/attacks?_method=PUT" method="POST">
      <h3>Add Attack</h3>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <label for="description">Description: </label>
      <textarea id="description" name="description"></textarea>
      <label for="harm">Harm:</label>
      <input type="number" name="harm" id="harm" min="0" value="0">

      <button type="submit">Add</button>
    </form>

  </dialog>
    <dialog id="edit-attack-form">
    <form action="/monsters/<%= monster._id %>/attacks?_method=PUT" method="POST">
      <h3>Add Attack</h3>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <label for="description">Description: </label>
      <textarea id="description" name="description"></textarea>
      <label for="harm">Harm:</label>
      <input type="number" name="harm" id="harm" min="0" value="0">
      <button type="submit">Add</button>
    </form>
  </dialog>

</main>
<script src="/js/modal.js"></script>
</body>
</html>